<section class="section"
         [style.background-color]="jsonForm.get('items').value[0]['value']">
  <h2>Json Form Output</h2>
  <ng-container *ngIf="formData?.length; else elseNoFormData">
    <form [formGroup]="jsonForm" (ngSubmit)="submitForm()">
      <div formArrayName="items">
        <ng-container *ngFor="let element of formData; let i = index" [formGroupName]="i">
          <div *ngIf="element.type === 'input'">
            <mat-form-field>
              <mat-label>{{element.label}}</mat-label>
              <input matInput [type]="element.inputType" formControlName="value">
              <mat-error>
                Please, enter valid data
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="element.type === 'textarea'">
            <mat-form-field appearance="fill">
              <mat-label>{{element.label}}</mat-label>
              <textarea matInput
                        formControlName="value"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="5"></textarea>
            </mat-form-field>
          </div>

          <div *ngIf="element.type === 'radio'">
            <label id="radio-group-label">{{element.label}}</label>
            <mat-radio-group aria-labelledby="radio-group-label" formControlName="value">
              <mat-radio-button color="primary" value="true" [checked]="element.value === 'Yes'">Yes</mat-radio-button>
              <mat-radio-button value="false" [checked]="element.value === 'No'">No</mat-radio-button>
            </mat-radio-group>
          </div>

          <ng-container *ngIf="element.type === 'checkbox'">
            <p *ngIf="element.label">{{element.label}}</p>
            <mat-checkbox formControlName="value"
                          [checked]="!!element.value"
                          color="primary">
              {{element.name}}
            </mat-checkbox>
          </ng-container>

          <div *ngIf="element.type === 'textEditor'">
            <ckeditor [editor]="Editor"
                      [data]="element.value"
                      (change)="onChange($event, i)">
            </ckeditor>
          </div>
        </ng-container>
      </div>

      <button [disabled]="!(jsonForm.valid && jsonForm.dirty)"
              type="submit"
              mat-flat-button
              color="primary"
              class="submit-button">
        Submit
      </button>
    </form>
  </ng-container>

  <ng-template #elseNoFormData>
    <p>Please, first add data  through the Form Schema Tab</p>
  </ng-template>
</section>
