/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.section {
  padding: 2rem;
}

.mat-mdc-form-field {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 50%;
  }
}

.mat-mdc-tab-labels {
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
